# Configuration for Site1
SITE_NAME=wordpress
WP_DIR="/home/wladmin/Documents/GitHub/wordpress/opt/www/wordpress"
DB_NAME=gggggw
DB_USER=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_PASSWORD=gggggg
MAX_BACKUPS=5
INCLUDE_DB=yes

